html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
body {
  width: 80%;
  margin: 0 auto;
  min-width: 370px;
}

.buttons {
  padding: 20px 0;
}

button {
  border: none;
  background-color: cadetblue;
  padding: 10px;
  color: white;
}
/* buttons class */
.btn4 {
  background-color: white;
  color: cadetblue;
}
/*container class*/
.container {
  display: flex;
}
/* left side */
.left {
  flex: 1 1 40%;
  background-color: cadetblue;
  color: white;
  padding: 20px;
}

.right {
  flex: 1 1 60%;
}

.right img {
  width: 100%;
}
